
@{
    ViewBag.Title = "TaskBoard";
}
<h3 class="text-center">SIMPLE TODO LIST</h3>
<h5 class="text-center">FROM RUBY GARAGE</h5>
<div class="add-task-form">

    <i class="fas fa-plus add-task-plus"></i>
    <input class="form-control add-task-input" type="text" placeholder="Start typing here to create a task...">
    <button type="button" class="btn btn-success add-task-btn">Add task</button>
</div>
<div style="display:flex; flex-direction:row;justify-content:center; margin-top:25px;">
    <button type="button" class="btn-lg btn-primary" style="">
        <i class="fas fa-plus add-project-plus"></i>
        <span>Add TODO List</span>
    </button>
</div>