@using WebRuby.Models
@using WebRuby.Extension
@model ProjectViewModel
<div class="project-form" id="project#@Model.Project.Id">
    <div class="add-task-header" style="display:flex; flex-direction:row">
        <div style="display:flex; flex-direction:row; align-items:center">
            <i class="far fa-calendar-alt poster" style="margin-right:13px; font-size:30px;color:#2C3E50">
                <span class="datepicker-here descr" data-timepicker="true" />
            </i>
            <input class="textinput" readonly="" style="background-color: #325D88; border:none; color:white" value="@Model.Project.Name" />
        </div>
        <div style="color:lightgray;display:flex; flex-direction:row; align-items:center; justify-content:center">
            <i class="far fa-edit" name="projectEdit"></i>
            <p style="margin:0px 10px">|</p>
            <i class="far fa-trash-alt" name="projectTrash"></i>
        </div>
    </div>

    <div class="add-task-form">
        <i class="fas fa-plus add-task-plus"></i>
        @Html.Input(Model.AddTaskInput.HtmlAttributes)
        @Html.Button(Model.AddTaskBtn.InnerHtml, Model.AddTaskBtn.HtmlAttributes)
    </div>
    <div class="tasksList">
        @{Html.RenderPartial("~/Views/PartialViews/TasksList.cshtml", Model.Tasks); }
    </div>
</div>
