@using WebRuby.Models
@model TaskViewModel
<div class="task-row" id="task#@Model.Task.Id">
    <div class="task-row-leftSide">
        <div class="task-checkbox">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck#@Model.Task.Id" 
                       @{
                           if (Model.Task.Status)
                           {
                               @:checked=""
                           }
                       }  name="status">
                <label class="custom-control-label" for="customCheck#@Model.Task.Id"></label>
            </div>
        </div>
        <div class="taskName">
            <input class="text-dark task-input" readonly="" value="@Model.Task.Name">
        </div>
    </div>
    <div class="task-row-rightSide text-black-50">
        <div class="change-priority">
            <i class="fas fa-sort-up" style=""></i>

            <i style="">—</i>
            <i class="fas fa-sort-down" style=""></i>
        </div>
        <span class="separator">|</span>
        <i class="far fa-edit" name="taskEdit"></i>
        <span class="separator">|</span>
        <i class="far fa-trash-alt" name="taskTrash"></i>
    </div>
</div>
